.env
.env.*
!.env.example
!.env.production.example
.git
.gitignore
.phpunit.result.cache
node_modules
vendor
public/build
public/hot
public/storage
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
variables.txt